.modal-body p{
	
	color:black;
}
/*
#fondoImagen{
	background-image: url("http://img0.mxstatic.com/wallpapers/d8f45fba552dc2de033932a60bff31d1_large.jpeg");
	background-size: 100% auto;
    height: 100%;
    width: 100%;
    position: fixed;
}*/

#cabMovil{
 background: url("../img/fondoCity2.jpg");
 background-size: 100% auto;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
        left: 0;
    z-index: -1;
}
#menuOpciones{
  width:100%;
     background-color: rgba(0, 0, 0, 0.8);
   
       margin: 0 auto;
}

.menuLineaStyle {
 margin:auto;

}

.menuLineaStyle ul {
  list-style:none;
  font-family:'Trebuchet MS';
  font-size:17px;
  text-align:center;

}

.menuLineaStyle li {
  position:relative;
  display:inline;


}

.menuLineaStyle li a {
  text-decoration:none;
  color:#dff0d8;
  display:inline-block;
  padding:10px;
 
}

.menuLineaStyle span {
  display:block;
  width:calc(100% - 23px);
  height:4px;
  background:#0088CC;
  position:absolute;
  left:10px;
  bottom:-10px;

}

.menuLineaStyle li a:hover {
 	color:#0088CC;
}

.menuLineaStyle li a:hover ~ span {
 	 animation:ul 0.3s ease-out;
   background:#333;
}

@keyframes ul {
 	0% { 
    width:0;
  }
  100% { 
    width:calc(100% - 23px);
  }
}



#progressBar {
    width: 400px;
    height: 15px;
    border: 1px solid #111;
    background-color: #292929;
    display:inline-block;
}
#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 15px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
    font-size: 12px;
}


.default {
  background: #292929;
  border: 1px solid #111; 
  border-radius: 5px; 
  overflow: hidden;
  box-shadow: 0 0 5px #333;       
}
.default div {
  background-color: #1a82f7;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0099FF), to(#1a82f7)); 
  background: -webkit-linear-gradient(top, #0099FF, #1a82f7); 
  background: -moz-linear-gradient(top, #0099FF, #1a82f7); 
  background: -ms-linear-gradient(top, #0099FF, #1a82f7); 
  background: -o-linear-gradient(top, #0099FF, #1a82f7);
}


