.modal-body p{
	
	color:black;
}
/*
#fondoImagen{
	background-image: url("http://img0.mxstatic.com/wallpapers/d8f45fba552dc2de033932a60bff31d1_large.jpeg");
	background-size: 100% auto;
    height: 100%;
    width: 100%;
    position: fixed;
}*/
